/* Palette */
:root {
	--color-text: rgba(255, 255, 255, 0.87);
	--color-tile: #393939;
	--color-tile-hidden: #242424;
	--color-tile-border: #242424;
	--color-flag: #F06449;
	--color-exploded: #FFFFFF;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: var(--color-text);
	background-color: var(--color-tile-hidden);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html, body, #app {
	width: 100%;
	height: 100%;
	margin: 0;
}

#stats {
	position: absolute;
	left: 4px;
	top: 4px;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tile {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;

	border-style: solid;
	border-color: var(--color-tile-border);

	background-color: var(--color-tile);

	user-select: none;

	transition: 0.2s;
}
.tile.hidden {
	background-color: var(--color-tile-hidden);

	cursor: pointer;
}
.tile.flagged::before {
	content: '';
	display: inline-block;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background-color: var(--color-flag);
}

@keyframes pulse {
	0% {
		/* --anim-size: 100%; */
		transform: scale(1);
	}
	50% {
		/* --anim-size: 150%; */
		transform: scale(1.25);
	}
	100% {
		/* --anim-size: 100%; */
		transform: scale(1);
	}
}

.tile.exploded::before {
	content: '';
	display: inline-block;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background-color: var(--color-exploded);

	animation-name: pulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
